body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #b6b4b400; /* dark gray background */
    padding: 10px 20px;
    text-align: center;
}

.navbar a {
    color: #899796; /* white text */
    text-decoration: none; /* removes the underline */
    margin: 1em 0 0 0;
    font-family: Arial, sans-serif; /* adjust this to your preferred font */
    font-size: 1.4em;
    /* padding: 8px 12px; */
    border-radius: 5px; /* rounded corners */
    transition: background-color 0.3s; /* smooth transition for hover effect */
}

.navbar a:hover {
    background-color: #575757; /* slightly lighter gray for hover */
    color: #000000; /* white text */
}

.content {
    height: 70%;
    padding: 5% 15%;
    display: block;  /* 初始隐藏所有内容 */
}

.section {
    display: none;  /* 初始隐藏所有section */
}

.footer {
    height: 15%;
    background-color: #f1f1f1;
    padding: 2% 5%;
}

#home {
    display: block;
}



body, html {
    height: 100%;
    margin: 0;
}

.image-container {
    display: flex;
    justify-content: center; /* Horizontally aligns the child element to the center */
    align-items: center;     /* Vertically aligns the child element to the center */
    height: 30%;
}

.image-container img {
    max-width: 50%;   /* Maximum width of the image, you can adjust this */
    max-height: 50%;  /* Maximum height of the image, you can adjust this */
    display: block;   /* Removes any default margin or padding */
}
